<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kai.kaiprivate" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".droid.application.KaiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_kai"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".thirdparty.KaiMultiImageSelectorActivity"
            android:label="@string/title_activity_kai_multi_image_selector" >
        </activity>
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".thirdparty.KaiPhotoGallary"
            android:label="@string/title_activity_kai_photo_gallary" >
        </activity>
        <activity
            android:name=".tframe.PinyinListActivity"
            android:label="@string/title_activity_pinyin_list" >
        </activity>
        <activity
            android:name=".func.customview.UseLovelyView"
            android:label="@string/title_activity_use_lovely_view" >
        </activity>
        <activity
            android:name=".thirdparty.KaiPullToRefresh"
            android:label="@string/title_activity_kai_pull_to_refresh" >
        </activity>
        <activity
            android:name=".thirdparty.KaiPhotoView"
            android:label="@string/title_activity_kai_photo_view" >
        </activity>
        <activity
            android:name=".thirdparty.KaiPhotoViewB"
            android:label="@string/title_activity_kai_photo_view_b" >
        </activity>
        <activity
            android:name=".thirdparty.KaiPhotoViewPngAbove"
            android:label="@string/title_activity_kai_photo_view_png_above" >
        </activity>
        <activity
            android:name=".opencv.KaiOpenCV"
            android:label="@string/title_activity_kai_open_cv" >
        </activity>
        <activity
            android:name=".thirdparty.KaiUniversalImageLoader"
            android:label="@string/title_activity_kai_universal_image_loader" >
        </activity>
        <activity
            android:name=".thirdparty.KaiUltraPullToRefresh"
            android:label="@string/title_activity_kai_ultra_pull_to_refresh" >
        </activity>
        <activity
            android:name=".thirdparty.KaiUIL4MMF"
            android:label="@string/title_activity_kai_uil4_mmf" >
        </activity>
        <activity
            android:name=".thirdparty.KaiGIF"
            android:label="@string/title_activity_kai_gif" >
        </activity>
    </application>

</manifest>
