<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kai.kaiprivate" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".droid.application.KaiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_kai"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDgthgSQlEpMBCyPHxa0a-GKtqNylfX8u0" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".thirdparty.KaiMultiImageSelectorActivity"
            android:label="@string/title_activity_kai_multi_image_selector" >
        </activity>
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".thirdparty.KaiPhotoGallary"
            android:label="@string/title_activity_kai_photo_gallary" >
        </activity>
        <activity
            android:name=".tframe.PinyinListActivity"
            android:label="@string/title_activity_pinyin_list" >
        </activity>
        <activity
            android:name=".func.customview.UseLovelyView"
            android:label="@string/title_activity_use_lovely_view" >
        </activity>
        <activity
            android:name=".thirdparty.KaiPullToRefresh"
            android:label="@string/title_activity_kai_pull_to_refresh" >
        </activity>
        <activity
            android:name=".thirdparty.KaiPhotoView"
            android:label="@string/title_activity_kai_photo_view" >
        </activity>
        <activity
            android:name=".thirdparty.KaiPhotoViewB"
            android:label="@string/title_activity_kai_photo_view_b" >
        </activity>
        <activity
            android:name=".thirdparty.KaiPhotoViewPngAbove"
            android:label="@string/title_activity_kai_photo_view_png_above" >
        </activity>
        <activity
            android:name=".opencv.KaiOpenCV"
            android:label="@string/title_activity_kai_open_cv" >
        </activity>
        <activity
            android:name=".thirdparty.KaiUniversalImageLoader"
            android:label="@string/title_activity_kai_universal_image_loader" >
        </activity>
        <activity
            android:name=".thirdparty.KaiUltraPullToRefresh"
            android:label="@string/title_activity_kai_ultra_pull_to_refresh" >
        </activity>
        <activity
            android:name=".kai.KaiUIL4MMF"
            android:label="@string/title_activity_kai_uil4_mmf" >
        </activity>
        <activity
            android:name=".thirdparty.KaiGIF"
            android:label="@string/title_activity_kai_gif" >
        </activity>
        <activity
            android:name=".thirdparty.KaiKenBurnView"
            android:label="@string/title_activity_kai_ken_burn_view" >
        </activity>
        <activity
            android:name=".kai.KaiTextViewTimePicker4MMF"
            android:label="@string/title_activity_kai_text_view_time_picker4_mmf" >
        </activity>
        <activity
            android:name=".thirdparty.KaiBitmapUtils"
            android:label="@string/title_activity_kai_bitmap_utils" >
        </activity>
        <activity
            android:name=".thirdparty.KaiColorArt"
            android:label="@string/title_activity_kai_color_art" >
        </activity>
        <activity
            android:name=".thirdparty.KaiHttpUtils"
            android:label="@string/title_activity_kai_http_utils" >
        </activity>
        <activity
            android:name=".thirdparty.KaiAndroidBootStrap"
            android:label="@string/title_activity_kai_android_boot_strap" >
        </activity>
        <activity
            android:name=".thirdparty.KaiCaligraphy"
            android:label="@string/title_activity_kai_caligraphy" >
        </activity>
        <activity
            android:name=".thirdparty.gmaputils.KaiGMapUtils"
            android:label="@string/title_activity_kai_gmap_utils" >
        </activity>
        <activity
            android:name=".thirdparty.gmaputils.KaiGMapUtilsCustomMarker"
            android:label="@string/title_activity_base_gmap" >
        </activity>
        <activity
            android:name=".pattern.observer.KaiObserver"
            android:label="@string/title_activity_kai_observer" >
        </activity>
        <activity
            android:name=".thirdparty.discrollview.KaiDiscroll"
            android:label="@string/title_activity_kai_observer" >
        </activity>
        <activity
            android:name=".thirdparty.KaiEventBus"
            android:label="@string/title_activity_kai_event_bus" >
        </activity>
        <activity
            android:name=".thirdparty.parse.KaiParse"
            android:label="@string/title_activity_kai_parse" >
        </activity>
        <activity
            android:name=".thirdparty.rxjava.KaiRxJava"
            android:label="@string/title_activity_kai_rx_java" >
        </activity>
    </application>

</manifest>
